<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.yandex.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. INTROVEST</name>

    <description>
        Транскрипция аудио или видео в текст.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/50a82e6cfabfc224e3125ec7e77ddf70.png" density="ldpi" />
        <icon src="res/android/icon/29b5f0f4b0598b187f49e5311e44aec4.png" density="mdpi" />
        <icon src="res/android/icon/7144e622e4080010c11986776edd79f8.png" density="hdpi" />
        <icon src="res/android/icon/f36ce18058d07aa1c46c9bae4285ea3e.png" density="xhdpi" />
        <icon src="res/android/icon/975a6756f2dcfdff88fba3975fc50ebc.png" density="xxhdpi" />
        <icon src="res/android/icon/973ad06f0aef307dcafa462a5f83da16.png" density="xxxhdpi" />

        <splash src="res/android/screen/2f5f03835123ff06e0809524388a25d6.png" density="port-hdpi"/>
        <splash src="res/android/screen/cb44c584a685e9f07d080a3ffca6e647.png" density="port-ldpi"/>
        <splash src="res/android/screen/eaf249ef20162556957df0a582b035b7.png" density="port-mdpi"/>
        <splash src="res/android/screen/4046bcef22c4195f9e35e3c0c5069b0a.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/cb51196626ff4576ab41c880a02a5bda.png" width="180" height="180" />
        <icon src="res/ios/icon/e8760cd868fcf15504af7f2d63902318.png" width="60" height="60" />
        <icon src="res/ios/icon/3f27d6ad71030b1b1c925282e7a02b0a.png" width="120" height="120" />
        <icon src="res/ios/icon/47cb010dd377893500a56bb56e1afb93.png" width="76" height="76" />
        <icon src="res/ios/icon/72d2a496c244278137909389f95c1d14.png" width="152" height="152" />
        <icon src="res/ios/icon/cdf0675bb0a8d7cbbb325f58805f1944.png" width="57" height="57" />
        <icon src="res/ios/icon/c3fe35b01616c714576afe16b87d42c1.png" width="114" height="114" />
        <icon src="res/ios/icon/d1235c99793025014e236d42d27fa554.png" width="72" height="72" />
        <icon src="res/ios/icon/56d12a81b61c6181df46fb5f06404c6f.png" width="144" height="144" />
        <icon src="res/ios/icon/6acc2abe9fac908e80871ff0c5230449.png" width="167" height="167" />
        <icon src="res/ios/icon/60819b34cf72b89b72151b88a7917fd6.png" width="29" height="29" />
        <icon src="res/ios/icon/f697575d59270ac73332e15609511b87.png" width="58" height="58" />
        <icon src="res/ios/icon/69d75b4704503efed4248077ac3d6b78.png" width="87" height="87" />
        <icon src="res/ios/icon/5665567cc9c9b3801c3f60abb80d4898.png" width="167" height="167" />

        <splash src="res/ios/screen/d8bb7ba434de62a8b375070c86ddc5de.png" />
        <splash src="res/ios/screen/d14ee15ce74bdd0b650e0edb83b51c6f.png" />
        <splash src="res/ios/screen/d9724b2187154a87c3836693bf03b338.png" />
        <splash src="res/ios/screen/5d720ee0e19cc0cb4fdd543c9643507c.png" />
        <splash src="res/ios/screen/a235c3259cdff7dbdfdd48823ec53f92.png" />
        <splash src="res/ios/screen/24ac37a935586ae3fc5ab62b2b4ea678.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/1e334abcc3de8eeb4479714c05246ee7.png" target="StoreLogo" />
        <icon src="res/windows/icon/2f65a847f27db5a0731fcc268f827d0c.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/13cd964e802d14f9f6708001a1ab0a74.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/ba0bac3445db17ae72b9f649941fff68.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/bce04ee817229403ac9ef6ca5045f8e2.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/6479ea2dd9fb7f27fbdc3e24026d4c68.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/13a0b610af84b0d628b9846090e62b03.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/ee8151eadba45483d497af23cb8edf35.png" target="SplashScreen"/>
        <splash src="res/windows/screen/3a9b5b2dddf3e84d16a28ae364f21e6e.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>